<nav>
    <div class="site-title">
        <a href="/">
            <h1>KEEPER <i class="fa-solid fa-file-pen fa-xs"></i></h1>
        </a>
        <p><strong>Made with &#10084;&#65039; by <a href="https://github.com/noobchirag69" target="_blank">Chirag Chakraborty</a></strong></p>
    </div>
    <ul>
        <li><a href="/create"><i class="fa-solid fa-circle-plus fa-3x"></i></a></li>
    </ul>
</nav>
