<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head.ejs') %>

    <body>

        <%- include('./partials/nav.ejs') %>

            <div class="about content">
                <h2>About Us</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi eligendi asperiores magni hic
                    reiciendis architecto nam similique nemo veritatis illo. Et, laboriosam itaque, esse sit pariatur
                    quo inventore recusandae quis ducimus libero est culpa assumenda quod fugiat consequuntur quia
                    dolorem repudiandae fuga veniam iure vel repellendus vero distinctio? Eum, voluptatibus?</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia impedit a quibusdam illo tempora
                    omnis ea aliquam iure, consectetur facere.</p>
            </div>

            <%- include('./partials/footer.ejs') %>

    </body>

</html>