<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head.ejs') %>

    <body>

        <%- include('./partials/nav.ejs') %>

            <div class="create-note content">
                <form>
                    <h2>Create new note!</h2>
                    <input type="text" id="title" placeholder="Title" required>
                    <textarea id="body" placeholder="Type your note.." required></textarea>
                    <button>Save</button>
                </form>
            </div>

    </body>

</html>